body{
	background: url(planofundo.jpg);
	margin: auto;

}

header{
	padding: 30px 0;
	position: relative;
	
}

.titulo-principal{
	display: block;
	text-align: center;
	mix-blend-mode: multiply;
	font-size: 85px;
	font-family: pathway gothic one;
	font-weight:bolder;
	font:sans-serif;
	color: #ffe8d6;
	background-color: darkcyan;
 	padding: 70px 350px;
 	margin: auto;
	background-image: url(fundo1.jpg);
	background-size: contain;
	width: 1300px;
	
}



#banner{
	width: 15%;
	height: 23%;
	margin: 43px 75px;
  	display: block;
  	position: absolute;
  	top: 1%;
  	left: 2%;
  	transform: translate(-30%, -1%);
  	

}

.titulo-centralizado{
	font-weight:bold;
	text-shadow: 2px 2px 2px black;
	font-size: 40px;
	color: #DC143C;
	margin: 5px auto;
	padding: 5px 0;
	text-align:center;
}


.momentos{
 	padding: 2px 2px ;
 	margin: 10px;
 	font-size: 30px;
	font-family: sans-serif;
	text-align: justify;
	align-content: space-between;



 }

.formatacao{
	background: url(https://i.pinimg.com/736x/83/f3/57/83f357b9286cf1ea046be49163cc155e.jpg);
	font-size: 30px;
	font-family: sans-serif;
	text-shadow: 2px 2px 2px black;
	text-align: center;
	color: red;
	padding: 5px;

}

.tipos{
 	font-size: 30px;
 	font-family: sans-serif;
 	text-shadow: 2px 2px 2px black;
 	color: #8B008B;
 	margin: 10px auto;
	padding: 10px 10px;
 }


.produtos{
	padding: 40px 40px 40px 40px;
	margin: 0 auto;

}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 24%;
	vertical-align: top;
	margin: 0 auto;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #8B008B;
	

}


.lista {
 	display:inline-block ;
 	font-size: 20px;
 }

 .farinha{
 	font-size: 30px;
 	font-family: sans-serif;
 	text-shadow: 2px 2px 2px black;
 	color: #8B008B;
 	margin: 10px auto;
	padding: 10px 10px;
 }

.leite{
 	font-size: 30px;
 	font-weight: bold;
 	color: #2F4F4F;
 	margin: 10px auto;
	padding: 10px 10px;
 }


 .tipos-farinha{
 	font-size: 20px;
 	color: green;
 	font-family: times new roman;
 	padding: 20px 50px;

 }

 
.tipos-leite{
	font-size: 20px;
 	color: Brown;
 	font-family: times new roman;
	padding: 20px 50px;
}

ul li::marker {
  	content: "🥪";
 }

ol li::marker{
	content: "🥛";
}

footer{
	background-color:#DC143C;
	font-size: 20px;
}

.nome{
	text-align: center;
 	font-size: 20px;
 	font-family: times new roman;
 	
	font-weight: bold;
 	
}

.copyright{
	background: url(https://www.engmengenharia.com.br/imagens/Site/HOME/background-azul.jpg);
	font-weight: bold;
	color: #FFFFFF;
 	margin: auto;
	padding: 20px 10px;
}

