body{
	background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 70%);
}

header, footer{
	background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 90%);	padding: 10px 0;

}

#banner{
		width: 15%;
		height: 25%;
		margin: 5px 100px;
	  display: block;
	 	position: absolute;
	 	top: 1%;
	 	left: 2%;
	 	transform: translate(-30%, -1%);
		border-radius: 45px;
}

.menu{
		/* TODO: posição dos menus */
	position: absolute;
	top: 60px;
	right: 90px;

}

nav li{
		/* TODO: posicionar na linha os menus */
	list-style: none;
	display: inline;
	margin-left: 15px;

}

nav a{
		/* TODO: tudo relacionado a letra */
	text-decoration: none;
	text-transform: uppercase;
	font-size: 30px;
	color: 	#FF007F;

}


.titulo-principal{
	display: block;
	text-transform: uppercase;
	text-align: left;
	mix-blend-mode: multiply;
	font-size: 20px;
	font-family: sans-serif;
	font-weight:bolder;
	font:sans-serif;
	color: #5d4157;
	background:  #fbc8d4;
 	padding: 80px 300px;
 	margin: auto;

}

.titulo-centralizado{
	font-weight:bold;
	text-shadow: 2px 2px 2px black;
	font-size: 30px;
	color: #DC143C;
	margin: 5px auto;
	padding: 5px 0;
	text-align:center;
}


.momentos{
 	padding: 2px 2px ;
 	margin: 10px;
 	font-size: 20px;
	font-family: sans-serif;
	text-align: justify;
	align-content: space-between;

}

.tipos{
 	font-size: 30px;
 	font-family: sans-serif;
 	text-shadow: 2px 2px 2px black;
 	color: #8B008B;
 	margin: 10px auto;
	padding: 10px 10px;
 }


.produtos{
	padding: 40px 40px 40px 40px;
	margin: 0 auto;

}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 24%;
	vertical-align: top;
	margin: 0 auto;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #8B008B;


}

.lista {
 	display:inline-block ;
 	font-size: 10px;
 }

 .farinha{
 	font-size: 30px;
 	font-family: sans-serif;
 	text-shadow: 2px 2px 2px black;
 	color: #8B008B;
 	margin: 10px auto;
	padding: 10px 10px;
 }

.leite{
	font-size: 30px;
 	font-weight: bold;
 	font-family: sans-serif;
 	text-shadow: 2px 2px 2px black;
 	margin: 10px auto;
	padding: 10px 10px;
 }

 .tipos-farinha{
 	font-size: 20px;
 	color: green;
 	font-family: sans-serif;
 	padding: 20px 50px;

 }

.nome{
	text-align: center;
 	font-size: 15px;
 	font-family: times new roman;
	font-weight: bold;
}

.copyright{
	background: url(https://www.engmengenharia.com.br/imagens/Site/HOME/background-azul.jpg);
	font-weight: bold;
	color: #FFFFFF;
 	margin: auto;
	padding: 20px 10px;
}
